   @font-face {
             font-family: 'RmFont';
              src: url('../../assets/Fonts/get_schwifty.ttf') format('truetype');
    }


    .logo{
        font-family: RmFont ;
        font-size: 64px;
        width: 100%;
        display: grid;
        place-content: center;
        animation: neon6 4.5s ease-in-out infinite alternate;
        opacity: 0.6;
       
    }



    @keyframes neon6 {
        from {
          text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #48ff00,
            0 0 70px #48ff00, 0 0 80px #48ff00, 0 0 100px #48ff00, 0 0 150px #48ff00;
        }
        to {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
            0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
        }
      }