.errorPage {
    min-height: 100vh;
    text-shadow: var(--mainFontColor) 1px 0 5px;
  }
  
  .page_404 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .page_404__mainText {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
  }
  .page_404__zirkaAndry_img {
    width: 35vh;
    margin: 0 auto;
    margin-top: -10rem
  }
  .page_404__text {
    padding: 0 10px;
    max-width: 650px;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin: 15px auto 25px;
    margin-bottom: 5rem;
  }
  
  .page_404__link {
    display: block;
    width: 206px;
    height: 56px;
    line-height: 56px;
    border-radius: 10px;
    border: .1px solid #f4faf3;
    text-align: center;
    margin: 15px auto;
   
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s ease-in;
    color: #000!important;

  }
  
  .page_404__link:hover,
  .page_404__link:focus {
    transform: scale(1.1);
  }
