.card {
    
    min-width: fit-content;
   
    border: 3px solid var(--mainBorderColor);;
    background-color: white;
    display: inline-block;
    background-image: url(https://i.pinimg.com/564x/9a/d8/ea/9ad8eaf34c647527ae396f562f77857a.jpg);
    transform: scale(0.9);
    /* animation: waveMove 4s linear infinite; */
}


/* @keyframes waveMove {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(2%);
    }
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(-2%);
    }
    100% {
      transform: translateX(0%);
    }
} */
