.navBar {
  position: sticky;
  top: 0;
  height: 4.5rem;
  padding: 1rem 3rem;
  background-color: rgba(255, 255, 255, 0.08);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  color: red !important;
}

.brand {
  display: flex;
  align-items: flex-start;
  width: 180px;
  height: 4rem;
}


.listItem {
  list-style:none
}